* {
    padding:0;
    margin:0;
}

.experience{
    height:61vh;
}

.footer{
    height: 27vh;
}

@media (max-width: 500px) {
    .experience{
       height: auto;
    }

    .footer{
       height: auto;
    }

}
