.experience{
    display: flex;
    align-items: center;
    justify-content: center;
}


.butcherName{
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.butcherName>span:nth-child(1){
    font-size: min(4.5vw, 58px);
}

.butcherName>span:nth-child(2){
    font-weight: 700;
    font-size: min(8.3vw,98px);
    padding-top: 10px;
}
.butcherName>span:nth-child(2)>u{
    text-underline-offset: 2.5rem;
    text-decoration-thickness: 6px;
}

.butcherName>span:nth-child(3){
    font-size: 14px;
    padding-top: 70px;
}

.slide{
    display: flex;
}

.forBorder{
    border-left: 30px solid white;
}

.card{
    height: clamp(280px, 57vw,400px);
    width: clamp(280px, 57vw,400px);
    background-size: clamp(280px, 57vw,400px);
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: 30% 0;
    transition: width 1.5s;
}

.waitingCard{
    height: clamp(280px, 57vw,400px);
    width:clamp(105px, 21vw, 150px);
    background-size: clamp(280px, 57vw,400px);
    border-radius: 10px;
    background-position: 30% 0;
    transition: width 1.5s;
}

.text{
    margin-left: 40%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    gap:20px;
    align-items: end;
    opacity: 1;
    transition: opacity 2s;
}


.waitingText{
    margin-left: 40%;
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
    color:white;
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding-bottom: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    gap:20px;
    transition: opacity 1s;
}

.nameImg{
    font-weight: 700;
}

.description{
    font-size: 12px;
    text-align: end;
    width: 200px;
    font-weight: 600;
}

.linkBody{
    text-decoration: underline;
    text-decoration-color:transparent;
    color: transparent;
}

@media (max-width: 500px) {
    .experience{
       flex-direction: column; 
       padding:3rem 0;
    }

    .butcherName{
        width: auto;
        background-color: rgb(173, 222, 201);
        padding: 2rem;
    }

    .slide{
        flex-direction: column;
        gap:30px;
        padding-top:3rem;
    }

    .forBorder{
        border:none
    }

    .waitingCard{
        width: clamp(280px, 57vw,400px);
        transition: none;
    }

    .waitingText{
        align-items: end;
        transition: none;
        opacity: 1;
    }
}