.footer{
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 25%,  rgba(255,255,255,0) 60%, rgba(0,0,0,0.8) 100%),
    url(/src/components_first/assets/footer.jpg);
    background-size: 210vh;
    background-repeat: no-repeat;
    background-position: 0 80%;
    width: 100%;

    display:grid;
    grid-template: 1fr / repeat(2,1fr);
    color: white;
    font-size: 14px;
}

.leftSide{
    align-self: end;
    display: flex;
}

.rights{
    padding: 15px 30px;
}

.rightSide{
    align-items: center;
    display: flex;
    padding: 15px 30px;
    margin-right: 20px;
    place-self: end end;
    gap:40px
}

.icons{
    display: flex;
    gap:5px;

}